<div class="input-append">
	<input class="share-link span3" type="text" value="{{link}}" readonly>
	<span class="add-on">
		<i class="icon-share-alt"></i>
	</span>
</div>
<span class="help-block">Копировать в буфер обмена: Ctrl + C</span>