#loader
  margin 50px auto 0 auto

#app
  .header h3, .header span
    float left
  .header span
    margin 10px 0 0 10px
  .main-buttons, .audio
    text-align right
  .main-buttons .popover
    width 325px
    input
      cursor text

  .controls
    margin-bottom 10px

    #username
      padding 3px 0
      font-size 14px
      line-height 30px
      margin 0
      font-weight lighter
      border-bottom 1px dashed #CCC
      color #000

  .online
    line-height 30px

  .audio > button
    padding 2px
    width 75px
    margin-left 5px
    & > i
      &.on, &.off
        height 9px
      &.on
        float left
      &.off
        float right
      &.text
        margin 0 5px

  .messagebox
    box-sizing border-box
    margin-top 10px

    .messages
      font-family Helvetica Neue, Helvetica, Arial, sans-serif
      overflow-y auto
      .message
        margin 4px 0
      .text
        word-wrap: break-word
      .name
        font-weight bold
      .time, .name
        margin-right 10px
        display inline-block

    .typing
      height 20px
      line-height 20px
      background #e5e5e5
      padding 2px 6px
      -webkit-border-radius 3px
      -moz-border-radius 3px
      border-radius 3px

      > span
        float left
        line-height 20px
        font-weight normal

      span
        margin-right 5px
        font-family Helvetica Neue, Helvetica, Arial, sans-serif

      ul
        list-style none
        margin 0

      li
        float left

  .message-input
    position relative
    .input-wrapper
      width 100%
      box-sizing border-box
      padding 4px 120px 4px 0
      input
        width inherit

    button
      width 120px
      position absolute
      right 0
      top 4px