.notifications
  position fixed
  z-index 9999

  &.top-right, &.top-left
    top 10px
  &.bottom-right, &.bottom-left
    bottom 10px

  &.top-right
    right 10px

  &.top-left
    left 10px

  &.bottom-left
    left 10px

  &.bottom-right
    right 10px

  & > div
    position relative
    margin 5px 0